@using System.Web.Script.Serialization
@using Crunchers.Models
@using Microsoft.AspNet.Identity
<script src="//js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js" type="text/javascript"></script>
<script>
function getCity(city){
    if( city!=undefined && city!="")
        {
            localStorage.setItem('city',city);
        }
    if(localStorage.getItem('city')!=null && localStorage.getItem('city')!="undefined")
                 {
                   document.getElementById('cityItem').innerText=localStorage.getItem('city');  
                 }
    else {
         let onSuccess = function(location){
                  document.getElementById('cityItem').innerText=location.city.names.ru;
                  localStorage.setItem('city',location.city.names.ru);
            };
            
            let onError = function(error){
               document.getElementById('cityItem').innerText='';
            };
             return geoip2.city(onSuccess, onError);
    }
       
    
}
</script>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            <li><a id ="cityItem" href="javascript:location.href='/City?currentCity='+document.getElementById('cityItem').innerText"><script>getCity('@(new CityModel().GetCityById(new UserModel().GetUser(User?.Identity?.GetUserId())?.CityId)?.NameRu)')</script></a></li>
            <li><a href="javascript:location.href='/ShoppingCart?localCartJson='+localStorage.getItem('localCart')">Корзина</a></li>
            @if (User.IsInRole("admin"))
            {
                <li>
                    @Html.ActionLink("Управление магазином", "ManageShop", "Admin", null, new {id = "loginLink"})
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink("Личный кабинет", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
                </li>
            }
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
            </li>
        </ul>
    }
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a id ="cityItem" href="javascript:location.href='/City?currentCity='+document.getElementById('cityItem').innerText"><script>getCity()</script></a></li>
        <li><a href="javascript:location.href='/ShoppingCart?localCartJson='+localStorage.getItem('localCart')">Корзина</a></li>
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}
