@using Microsoft.AspNet.Identity

<h1>Меню администратора</h1>
<ul style="list-style-type:disc;">
    <li>@Html.ActionLink("Просмотр всех заказов","ManageAllOrders")</li>
    <li>@Html.ActionLink("Управление активными заказами","ManageActiveOrders")</li>
    <li>@Html.ActionLink("Управление категориями","ManageCategories")</li>
    <li>@Html.ActionLink("Управление товарами","ManageAllProducts")</li>
    <li>@Html.ActionLink("Управление характеристиками","ManageAllCharacteristics")</li>
    <li>@Html.ActionLink("Управление городами","ManageCities")</li>
</ul> 