@model IEnumerable<Crunchers.Models.OrderModel>
@foreach (var order in Model)
{
    <form>
        <form>
            <text>Номер заказа = @order.OrderId</text>
        </form>
        <form>
            <text>Активен = @order.Active</text>
            <a type="button" onclick="
                $.post('@Url.RouteUrl(new {controller = "Manage", action = "UpdateOrder"})?value=@(order.Active.ToString())&row=Active&orderId=@(order.OrderId)');">Update Active</a>
        </form>
        <form>
            <text>Самовывоз? = @order.IsForPickUp</text>
            <a type="button" onclick="
                  $.post('@Url.RouteUrl(new {controller = "Manage", action = "UpdateOrder"})?value=@(order.IsForPickUp.ToString())&row=Deliver&orderId=@(order.OrderId)');">Update Deliver</a>
        </form>
        <form>
            <text>Доставлен = @order.Delivered</text>
            <a type="button" onclick="
                  $.post('@Url.RouteUrl(new {controller = "Manage", action = "UpdateOrder"})?value=@(order.Delivered.ToString())&row=Delivered&orderId=@(order.OrderId)');">Update Delivered</a>
        </form>
        <form>
            <text>Оплачен = @order.Paid</text>
            <a type="button" onclick="
                  $.post('@Url.RouteUrl(new {controller = "Manage", action = "UpdateOrder"})?value=@(order.Paid.ToString())&row=Paid&orderId=@(order.OrderId)')">Update Paid</a>
        </form>
    </form>
}