@model Crunchers.Controllers.AdminController.ProductAdminResponse
<div id="LoadingImage" style="display:none;background-color: rgb(255, 255, 255); opacity: 0.7; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 99999;">
    <img style="display: block;margin-left: auto;margin-right: auto" src="https://igc-market.ru/images/loading.gif"/>
</div>
<script>
    let urlParams = new URLSearchParams(window.location.search);
    function AddProduct() {
        let inpObj = document.getElementById("Form=newProduct");
        let infoObj=document.getElementById("newCharacteristics");
              if (!inpObj.checkValidity() || !infoObj.checkValidity()) {
              } else {
       var values = [];
       var characteristicNodes = document.getElementById('newCharacteristics').getElementsByTagName('input');
       var i;
       for (i = 0; i < characteristicNodes.length; i++) {
         values.push(characteristicNodes[i].value);
       }
        
        let imageLink = document.getElementById("productImageInput").value;
        let productName = document.getElementById("productNameInput").value;
        let productPrice = document.getElementById("productPriceInput").value;
        let categoryId=urlParams.get('categoryId');
        $("#LoadingImage").show();
       $.ajax({
                type: "POST",
                url: '@Url.RouteUrl(new {controller = "Admin", action = "AddProduct"})?imageLink='+imageLink+'&productName='+productName+'&productPrice='+productPrice+'&categoryId='+categoryId,
                data: JSON.stringify(values),
                dataType: 'json',
                timeout: 15000,
                success: function (data) {
                    $("#LoadingImage").hide();
                    alert('Товар успешно добавлен');
                    location.reload();     
                },
                error: function(inc) {
                    $("#LoadingImage").hide();
                    alert('Произошла ошибка');
                    location.reload(); 
                }
            });
    }}
    function DeleteProduct(productId) {
        $("#LoadingImage").show();
       $.ajax({
              type: "POST",
              url: '@Url.RouteUrl(new {controller = "Admin", action = "DeleteProduct"})?productId='+productId,
              data: { },
              dataType: 'json',
              timeout:15000,
              success: function (correct) {
                  $("#LoadingImage").hide();
                  alert('Товар успешно удален');
                  location.reload();    
              },
              error: function(inc) {
                  $("#LoadingImage").hide();
                  alert('Произошла ошибка');
                  location.reload();   
              }
          });
    }
</script>
<style>
      .clean-block.clean-form form {
          border-top: 2px solid orange!important;
          background-color: #fff;
          max-width: 500px;
          margin: auto;
          padding: 40px;
          box-shadow: 0 2px 10px rgba(0,0,0,.075);
      }


      input:focus {
        outline: none;
      }
      
      .fox {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        border-bottom: 1px solid orange !important;
      }
      
      button, input {
        overflow: visible;
      }
      
      button, input, optgroup, select, textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
      }
    
      

      .clean-navbar.fixed-top + .page {
        padding-top: 5rem;
      }
      
      .clean-navbar.fixed-top + .page {
        padding-top: 62px;
      }
      
      body {
        margin: 0;
        font-family: Montserrat,sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
      }
      
      .clean-block.dark {
              background-color: #ffffff;
      }
      
      .container {
        max-width: 1140px;
      } 
      
      .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
      
      .clean-block .block-heading {
        padding-top: 50px;
        margin-bottom: 40px;
        text-align: center;
      }
      
      .clean-block .block-heading {
        padding-top: 80px;
      }
      
      .clean-block .block-heading {
        padding-top: 50px;
        margin-bottom: 40px;
        text-align: center;
      }
      .text-i {
              color: orange!important;
              font-weight: normal !important;
            }
      
      .text-info {
        color: darkgray!important;
        font-weight: normal !important;
      }
      
      .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
      }
      
      h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: .5rem;
      }
      
      .clean-block .block-heading {
        padding-top: 50px;
        margin-bottom: 40px;
      }
      
      .clean-block .block-content {
        padding: 40px;
      }
      
      .clean-block .block-content, .clean-block .content {
        box-shadow: 0 2px 10px rgba(0,0,0,.075);
        background-color: #fff;
      }
      
      .clean-block.clean-faq .faq-item {
        margin-bottom: 20px;
      }
      
      .my-class {
        color: orange !important;
      }  
      
      .form-group {
            border-top: 2px solid orange!important;
                      background-color: #ffffff;
                      max-width: 500px;
                      margin: auto;
                      padding: 40px;
                      box-shadow: 0 2px 10px rgba(0,0,0,.075);
            }  
  
</style>

@{
    var productGroup = Model.Products.GroupBy(x => x.ProductId);
    <section class="clean-block clean-blog-list dark">
        <div class="container">
            <div class="block-heading">
                <h1 class="text-i">Управление категориями товаров</h1>
            </div>
            <div class="form-group">
                <h4>
                    <form method="get" action="/FileUpload/Index">
                        <input type="hidden" name="categoryId" value="@ViewBag.categoryId"/>
                        <input type="submit" value="Загрузить изображение"/>
                    </form>
                </h4>
                <form id="Form=newProduct">
                    <p>
                        <label style="font-weight: inherit !important;" class="text-info" for="productImageInput">Ссылка на изображение:</label>
                        <input id="productImageInput" class="fox" maxlength="255" value="@ViewBag.imageLink"/>
                    </p>
                    <h4>
                        <p>
                            <label style="font-weight: inherit !important;" class="text-info" for="productNameInput">Название товара:</label>
                            <input id="productNameInput" class="fox" minlength="3" maxlength="100" required/>
                        </p>
                    </h4>
                    <h4>
                        <p>
                            <label style="font-weight: inherit !important;" class="text-info" for="productPriceInput">Цена:</label>
                            <input id="productPriceInput" value="0" class="fox" type="number" min="0" max="99999999" required>
                        </p>
                    </h4>
                </form>
                <form id="newCharacteristics">
                    @foreach (var characteristic in Model.Characteristics)
                    {
                        <h4>
                            <label style="font-weight: inherit !important;" class="text-info">@characteristic.CharacteristicName:</label>
                            @{
                                if (characteristic.CharacteristicType == "Строковое значение")
                                {
                                    <input class="fox" id="Name=@characteristic.CharacteristicId" pattern="[^_]+" maxlength="100"/>
                                    <h6>(без символа "_")</h6>
                                }
                                else
                                {
                                    <input id="Name=@characteristic.CharacteristicId" value="0" type="number" max="99999999" min="0" required/>
                                    if (characteristic.Unit != null || characteristic.Unit != "")
                                    {
                                        <text>(в @(characteristic.Unit))(0 в случае отсутствия)</text>
                                    }
                                }
                            }
                        </h4>
                        <br/>
                    }
                </form>
                <h4>
                    <a class="my-class" onclick=" AddProduct()">Добавить продукт</a>
                </h4>
            </div>
            @foreach (var product in productGroup)
            {
                <form>
                    <div class="form-group">
                        <h4>
                            <p>
                                <label style="font-weight: inherit !important;" class="text-info">Id: @product.Key </label>
                            </p>
                        </h4>

                        <h4>
                            <p>
                                <label style="font-weight: inherit !important;" class="text-info">Наименование продукта: @product.Select(x => x.ProductName).ToList().First()</label>
                            </p>
                        </h4>
                        <a class="my-class" href="/Admin/ManageProduct?productId=@product.Key&categoryId=@product.Select(x => x.CategoryId).FirstOrDefault()">
                            <h4>Открыть информацию о продукте</h4>
                        </a><br/>
                        <a class="my-class" onclick="DeleteProduct(@(product.Key))">
                            <h4>Удалить товар</h4>
                        </a><br/>
                        <br/>
                        <br/>
                    </div>
                </form>
            }
        </div>
    </section>
}