@model IEnumerable<Crunchers.Models.CharacteristicModel>
<script>
let urlParams = new URLSearchParams(window.location.search);
function AddCategory() {
    let characteristicName = document.getElementById('characteristicNameInput').value;
    let characteristicType = document.getElementById('characteristicTypeInput').value;
    let characteristicUnit = document.getElementById('characteristicUnitInput').value;
    let categoryId= urlParams.get('categoryId');
    $.ajax({
        type: "POST",
        url: '@Url.RouteUrl(new {controller = "Admin", action = "AddCharacteristic"})?characteristicName='+characteristicName+'&characteristicType='+characteristicType+'&categoryId='+categoryId+'&unit='+characteristicUnit,
        data: {},
        dataType: 'json',
        success: function (correct) {
            alert('Характеристика успешно добавлена');
            location.reload();  
            
        },
        error: function(inc) {
            alert('Произошла ошибка');
            location.reload(); 
            
        }
    });
}
function UpdateCharacteristic(characteristicId) {
    let characteristicName=document.getElementById('Name='+characteristicId).value;
    let characteristicType=document.getElementById('Type='+characteristicId).value;
    let unit=document.getElementById('Unit='+characteristicId).value;
   $.ajax({
          type: "POST",
          url: '@Url.RouteUrl(new {controller = "Admin", action = "ChangeCharacteristic"})?characteristicName='+characteristicName+'&characteristicType='+characteristicType+'&characteristicId='+characteristicId+'&unit='+unit,
          data: { },
          dataType: 'json',
          success: function (correct) {
              alert('Характеристика успешно обновлена');
              location.reload();  
              
          },
          error: function(inc) {
              alert('Произошла ошибка');
              location.reload(); 
          }
      });
}
function DeleteCharacteristic(characteristicId) {
   $.ajax({
          type: "POST",
          url: '@Url.RouteUrl(new {controller = "Admin", action = "DeleteCharacteristic"})?characteristicId='+characteristicId,
          data: { },
          dataType: 'json',
          success: function (correct) {
              alert('Характеристика успешно удалена');
              location.reload();  
              
          },
          error: function(inc) {
              alert('Произошла ошибка');
              location.reload(); 
              
          }
      });
}
</script>
<form>
    <input id="characteristicNameInput" placeholder="Введите название характеристики"/>
    <select id="characteristicTypeInput">
        <option>Строковое значение</option>
        <option>Числовое значение</option>
    </select>
    <input id="characteristicUnitInput" placeholder="Введите единицу измерения"/>
    <a onclick=" AddCategory()">Add Category</a>
</form>
<hr/>
@foreach (var characteristic in Model)
{
    <form>
        <input id="Name=@characteristic.CharacteristicId" placeholder="Введите новое название характеристики" value="@characteristic.CharacteristicName"/>
        <select id="Type=@characteristic.CharacteristicId">
            <option>Строковое значение</option>
            <option>Числовое <значение></значение></option>
        </select>
        <input id="Unit=@characteristic.Unit" placeholder="Введите единицу измерения" value="@characteristic.Unit"/>
        <a onclick=" UpdateCharacteristic(@characteristic.CharacteristicId)">Change Characteristic</a>
        <a onclick=" DeleteCharacteristic(@characteristic.CharacteristicId)">Delete Characteristic</a>
    </form>
}