@using Crunchers.Models
@using Microsoft.AspNet.Identity
<div id="LoadingImage" style="display:none;background-color: rgb(255, 255, 255); opacity: 0.7; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 99999;">
    <img style="display: block;margin-left: auto;margin-right: auto" src="https://igc-market.ru/images/loading.gif"/>
</div>
<script>
    let urlParams = new URLSearchParams(window.location.search);
    function ChangeFullName() {
        let value = document.getElementById("FullNameInput").value;
        $("#LoadingImage").show();
       $.ajax({
                type: "POST",
                url: '@Url.RouteUrl(new {controller = "Manage", action = "ChangeUserInfo"})?value='+value+'&row=FullName',
                data: {},
                dataType: 'json',
                timeout: 15000,
                success: function (data) {
                    $("#LoadingImage").hide();
                    alert('ФИО успешно изменено');
                    location.reload();     
                },
                error: function(inc) {
                    $("#LoadingImage").hide();
                    alert('Произошла ошибка');
                    location.reload(); 
                }
            });
    }
</script>
<style>
      .clean-block.clean-form form {
          border-top: 2px solid orange!important;
          background-color: #fff;
          max-width: 500px;
          margin: auto;
          padding: 40px;
          box-shadow: 0 2px 10px rgba(0,0,0,.075);
      }


      input:focus {
        outline: none;
      }
      
      .fox {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        border-bottom: 1px solid orange !important;
      }
      
      button, input {
        overflow: visible;
      }
      
      button, input, optgroup, select, textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
      }
    
      

      .clean-navbar.fixed-top + .page {
        padding-top: 5rem;
      }
      
      .clean-navbar.fixed-top + .page {
        padding-top: 62px;
      }
      
      
      .clean-block.dark {
              background-color: #ffffff;
      }
      
      .container {
        max-width: 1140px;
      } 
      
      .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
      
      .clean-block .block-heading {
        padding-top: 50px;
        margin-bottom: 40px;
        text-align: center;
      }
      
      .clean-block .block-heading {
        padding-top: 80px;
      }
      
      .clean-block .block-heading {
        padding-top: 50px;
        margin-bottom: 40px;
        text-align: center;
      }
      .text-i {
              color: orange!important;
              font-weight: normal !important;
            }
      
      .text-info {
        color: darkgray!important;
        font-weight: normal !important;
      }
      
      .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
      }
      
      h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: .5rem;
      }
      
      .clean-block .block-heading {
        padding-top: 50px;
        margin-bottom: 40px;
      }
      
      .clean-block .block-content {
        padding: 40px;
      }
      
      .clean-block .block-content, .clean-block .content {
        box-shadow: 0 2px 10px rgba(0,0,0,.075);
        background-color: #fff;
      }
      
      .clean-block.clean-faq .faq-item {
        margin-bottom: 20px;
      }
      
      .my-class {
        color: orange !important;
      }  
      
      .form-group {
            border-top: 2px solid orange!important;
                      background-color: #ffffff;
                      max-width: 500px;
                      margin: auto;
                      padding: 40px;
                      box-shadow: 0 2px 10px rgba(0,0,0,.075);
            }  
            
            .clean-block {
                                    border-top: 2px solid orange!important;
                                    background-color: #fff;
                                    margin: auto;
                                    padding: 40px;
                                    box-shadow: 0 2px 10px rgba(0,0,0,.075);
                                }
  
</style>
<section class="clean-block clean-blog-list dark">
    @model Crunchers.Models.IndexViewModel
    @{
        ViewBag.Title = "Управление";
    }
    <h3 class="text-info">Личный кабинет:</h3>
    <br/>
    <dl class="dl-horizontal">
        <dt class="text-info">Email:</dt><dd>@User.Identity.Name</dd>
        <dt class="text-info">ФИО:</dt>
        <dd>
            <input maxlength="100" id="FullNameInput" style="width: fit-content;" type="text" value="@Model.UserModel.FullName"/>
            <a class="my-class" onclick="ChangeFullName()">Изменить ФИО</a>
        </dd>
        <dt class="text-info">Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смена пароля", "ChangePassword", new {}, new {@class = "my-class"})
            }
            else
            {
                @Html.ActionLink("Создать", "SetPassword", new {}, new {@class = "my-class"})
            }
            ]
        </dd>

        <dt class="text-info">Телефон:</dt>
        <dd>
            @if (Model.PhoneNumber != null)
            {
                @Model.PhoneNumber
                @Html.ActionLink(" Удалить телефон", "RemovePhoneNumber", new {}, new {@class = "my-class"})
            }
            else
            {
                @Html.ActionLink("Добавить телефон", "AddPhoneNumber", new {}, new {@class = "my-class"})
            }

        </dd>
    </dl>
    <h3>
        @Html.ActionLink("Заказы", "Orders", new {}, new {@class = "my-class"})
    </h3>
</section>