@model IEnumerable<Crunchers.Models.OrderModel>
@foreach (var order in Model)
{
    <form>
        <form>
            <text>Id = @order.OrderId</text>
        </form>
        <form>
            <text>Active = @order.Active</text>
            
        </form>
        <form>
            <text>IsPickUp = @order.IsForPickUp</text>
           
        </form>
        <form>
            <text>Delivered = @order.Delivered</text>
            
        </form>
        <form>
            <text>Paid = @order.Paid</text>
        </form>
    </form>

    <br/>
}